@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "~foundation-icons/foundation-icons.css";

html, body {
  background: #ffe9d4;
  height: 100%;
  position: relative;
}

#jhrSite {
  height: 100%;

  #jhr {
    height: 100%;

    img {
      border-radius: 20px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
    }

    .header {
      width: 100%;
      padding: 8px;
      background-color: darkgrey;
      box-shadow: 0px 6px 12px lightsteelblue;

      .title {
        text-align: center;

        #titleLogo {
          max-height: 100px;
          // margin-bottom: 30px;
          // align: center;
          vertical-align: middle;
          display:inline-block;

          @media screen and (min-width: 1088px) {
            margin-right: 40px;
          }
        }

        #title {
          display: inline-block;
          vertical-align: middle;

          font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
          color: #2b2b2b;
          text-shadow: 4px 4px 0px rgba(0,0,0,0.1);

          @media screen and (max-width: 800px) {
            font: 400 80px 'Arizonia', Helvetica, sans-serif;
          }

          @media screen and (max-width: 500px) {
            font: 400 40px 'Arizonia', Helvetica, sans-serif;
          }
        }
      }

      .breadcrumbs {
        display: block;
        margin: 0;

        #header-nav {
          display: block;
          text-align: center;

          ul.breadcrumbs {
            margin: 0;
            display: inline-block;;
            text-align: center;

            li {
              font-size: large;
            }
          }
        }
      }

      .smallMenu {
        #smallMenu {
          max-height: 40px;
        }
      }
      .smallMenuDropdown {
        width: 300%;
        a {
          margin-left: 15px;
          margin-top: 5px;
        }
      }
      .smallTitle {
        text-align: center;
        #smallTitle {
          font: 400 30px 'Arizonia', Helvetica, sans-serif;
        }
      }
      .smallLogo {
        text-align: center;
      }
      div.columns.small-2 {
        padding: 0;
      }

    }

    .viewContent {
      padding-top: 20px;
      padding-bottom: 20px;

      .homeView {
        .display {
          text-align: center;

          .text {
            font-size: small;
          }

          img {
            padding: 8px;
          }
        }
      }

      .servicesView {
        .display {
          text-align: center;

          h2 {
            font: 400 80px 'Arizonia', Helvetica, sans-serif;
          }

          h3 {
            font: 400 60px 'Arizonia', Helvetica, sans-serif;
          }

          .slick-slide {
            img {
              margin: 0 auto;
            }
          }

          .slick-dots {
            margin-bottom: 10px;
          }

          .caption {
            margin-top: 10px;
          }
        }
      }

      .projectsView {
        .display {
          text-align: center;
          margin-bottom: 20px;

          h5 {
            font: 400 60px 'Arizonia', Helvetica, sans-serif;

            @media screen and (max-width: 500px) {
              font: 400 40px 'Arizonia', Helvetica, sans-serif;
              padding-left: 6px;
              padding-right: 6px;
            }
          }

          p {
            padding: 10px;
          }

          .columns.large-6 {
            img {
              width: 80%;
            }
          }

          .columns.small-10 {
            img {
              width: 80%;
              max-width: 456px;
            }
          }
        }
      }

      .photosView {
        text-align: center;

        p {
          font: 400 40px 'Arizonia', Helvetica, sans-serif;
          margin-bottom: 35px;
        }

        .display {
          text-align: center;
          margin-bottom: 15px;
          margin-top: 15px;

          .photoset {
            cursor: pointer;
            display: inline;

            img {
              box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
              margin-top: 15px;
              margin-bottom: 0px;
              -webkit-transition: all .5s ease;
              -moz-transition: all .5s ease;
              -o-transition: all .5s ease;
            }

            img:hover {
              margin-top: 0px;
              margin-bottom: 15px;
            }

            h5 {
              font: 400 60px 'Arizonia', Helvetica, sans-serif;
              text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
              margin-bottom: 15px;
            }
          }
        }

        .back {
          cursor: pointer;
          margin: 20px;
          font: 400 40px 'Arizonia', Helvetica, sans-serif;
          display: inline-block;
          background-color: lightsteelblue;
          padding: 3px 20px 3px 10px;
          border-radius: 20px;
          color: rgb(96, 95, 95);

          i {
            vertical-align: middle;
          }

          span {
            vertical-align: middle;
          }
        }

        .back:hover {
          background-color: steelblue;
          color: darkgrey;
        }

        .title {
          width: 100%;

          h5 {
            font: 400 60px 'Arizonia', Helvetica, sans-serif;
            text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
          }

          h6 {
            font: 400 48px 'Arizonia', Helvetica, sans-serif;
          }
        }

        .imgContainer {
          padding: 10px;
          display: inline;

          img {
            box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
            margin-top: 20px;
          }
        }
      }

      .aboutUsView {
        .display {
          text-align: center;

          h4 {
            font: 400 60px 'Arizonia', Helvetica, sans-serif;
          }

          img {
            padding: 8px;
          }
        }
      }

    }


    .footer {
      width: 100%;
      padding: 8px;
      background-color: darkgrey;
      font-size: .7em;
      bottom: 0;

      div.contactInfo {
        text-align: right;

        @media screen and (max-width: 1088px) {
          text-align: center;
        }
      }

      div.copyright {
        @media screen and (max-width: 1088px) {
          text-align: center;
        }
      }
    }
  }
}
